.btn-default-primary {
    color: #2F80ED !important;
    background-color: #fff !important;
    border-color: #2F80ED !important;
}
.btn-default-secondary {
    color: #6c757d !important;
    background-color: #fff !important;
    border-color: #6c757d !important;
}
.btn-default-success {
    color: #198754 !important;
    background-color: #fff !important;
    border-color: #198754 !important;
}
.btn-default-danger {
    color: #dc3545 !important;
    background-color: #fff !important;
    border-color: #dc3545 !important;
}
.btn-default-warning {
    color: #ffc107 !important;
    background-color: #fff !important;
    border-color: #ffc107 !important;
}
.btn-default-info {
    color: #0dcaf0 !important;
    background-color: #fff !important;
    border-color: #0dcaf0 !important;
}
.btn-default-light {
    color: #f8f9fa !important;
    background-color: #fff !important;
    border-color: #f8f9fa !important;
}
.btn-default-dark {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #212529 !important;
}
.btn-default-link {
    color: #0a58ca !important;
    background-color: #fff !important;
    border-color: #0a58ca !important;
    text-decoration: underline !important;
}

.cl-btn-3 {
    width: 10px;
    height: 10px;
    position: relative;
    transform: rotate(45deg) scale(2);
}

.cl-btn-3 .top,
.cl-btn-3 .bot {
    display: block;
    background: #337AB7;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}

.cl-btn-3 .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}

.cl-btn-3 .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}

.cl-btn-3:hover {
    cursor: pointer;
}

.cl-btn-3:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}

.cl-btn-3:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}

@-webkit-keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 100%;
        height: 0%;
    }
}

@keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 100%;
        height: 0%;
    }
}

@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}

@keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}

@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}

@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}