.f-dialog {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.f-dialog:target {
    display: none;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

.f-dialog-table {
    display: table;
    width: 100%;
    height: 100%;
}

.f-dialog-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}

.f-dialog-content {
    display: inline-block;
    /* максимально возможная ширина */
    max-width: 50em;
    max-height: 50em;

}

/* Заголовок с кнопкой закрытия */
.f-dialog-container {
    width: 100%;
}

.f-dialog-container div:nth-child(1) {
    float: left;
}

.f-dialog-container div:nth-child(2) {
    float: right;
}

.cl-btn-3 {
    width: 16px;
    height: 16px;
    position: relative;
    transform: rotate(45deg) scale(2);
}

.cl-btn-3 .top,
.cl-btn-3 .bot {
    display: block;
    background: #337AB7;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}

.cl-btn-3 .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}

.cl-btn-3 .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}

.cl-btn-3:hover {
    cursor: pointer;
}

.cl-btn-3:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}

.cl-btn-3:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}

@-webkit-keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 100%;
        height: 0%;
    }
}

@keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 100%;
        height: 0%;
    }
}

@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}

@keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}

@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 100%;
        width: 0%;
    }
}

@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}

@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}


.modal-content {
    display: inline-block;
    vertical-align: middle;
}

.f-dialog::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.modal-title {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    white-space: normal;
    margin-bottom: 10px;
}

.f-dialog-background {
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: 0;
}

.modal-header {
    color: #000;
    background-color: #F8F8F8;
    border-bottom: 0 none;
    font-family: "SF UI Display", sans-serif;
}

.modal-header {
    background-color: #F8F8F8;
    border-color: #e5e5e5;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-header {
    padding: 20px 30px 10px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
}

.modal-body {
    background-color: #F8F8F8;
    border-color: #e5e5e5;
    color: #000;
}

.modal-body {
    position: relative;
    padding: 20px 30px 15px;
}

.modal-footer {
    overflow: auto;
}

.modal-footer {
    background-color: #F8F8F8;
    border-color: #e5e5e5;
    color: #000;
}

.modal-footer {
    position: relative;
    padding: 20px 30px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
