.btn {
    height: min-content;
}

.btn-default-primary {
    color: #2F80ED !important;
    background-color: #fff !important;
    border-color: #2F80ED !important;
}
.btn-default-secondary {
    color: #6c757d !important;
    background-color: #fff !important;
    border-color: #6c757d !important;
}
.btn-default-success {
    color: #2E7D32 !important;
    background-color: #EFF5F0 !important;
    border-color: #2E7D32 !important;
}
.btn-default-danger {
    color: #dc3545 !important;
    background-color: #fff !important;
    border-color: #dc3545 !important;
}
.btn-default-warning {
    color: #ffc107 !important;
    background-color: #fff !important;
    border-color: #ffc107 !important;
}
.btn-default-info {
    color: #0dcaf0 !important;
    background-color: #fff !important;
    border-color: #0dcaf0 !important;
}
.btn-default-light {
    color: #f8f9fa !important;
    background-color: #fff !important;
    border-color: #f8f9fa !important;
}
.btn-default-dark {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #212529 !important;
}
.btn-default-link {
    color: #0a58ca !important;
    background-color: #fff !important;
    border-color: #0a58ca !important;
    text-decoration: underline !important;
}