
.alert.alert-notice.in, .alert-notice.in.portlet-msg-alert, .alert-notice.in.portlet-msg-error, .alert-notice.in.portlet-msg-help, .alert-notice.in.portlet-msg-info, .alert-notice.in.portlet-msg-progress, .alert-notice.in.portlet-msg-success {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.alert.alert-notice, .alert-notice.portlet-msg-alert, .alert-notice.portlet-msg-error, .alert-notice.portlet-msg-help, .alert-notice.portlet-msg-info, .alert-notice.portlet-msg-progress, .alert-notice.portlet-msg-success {
    min-height: 75px;
    font-size: 12px;
    font-weight: bold;
    color: #656565;
    background-color: #fff;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 5px rgb(0 0 0 / 10%);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    transition: opacity, transform .3s ease-in-out;
    display: flex;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 25px;
}
.alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    font-family: "SF UI Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    position: relative;
    font-family: "SF UI Display", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
}
.alert-info, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress {
    background-color: #EBF3FE;
    border-color: #EBF3FE;
    color: #2F80ED;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 22px 25px20;
}
.alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    padding: 22px 25px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.alert.alert-notice .close, .alert-notice.portlet-msg-alert .close, .alert-notice.portlet-msg-error .close, .alert-notice.portlet-msg-help .close, .alert-notice.portlet-msg-info .close, .alert-notice.portlet-msg-progress .close, .alert-notice.portlet-msg-success .close {
    text-shadow: none;
    color: #2F80ED;
    transition: all .3s ease-in-out;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert.alert-notice.alert-info .alert-icon, .alert-notice.alert-info.portlet-msg-alert .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-progress .alert-icon, .alert-notice.alert-info.portlet-msg-error .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-progress .alert-icon, .alert-notice.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-progress .alert-icon, .alert-notice.alert-info.portlet-msg-success .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-progress .alert-icon {
    background-color: #ACCCF8;
    color: #2F80ED;
}
.alert.alert-notice.alert-info .alert-icon, .alert-notice.alert-info.portlet-msg-alert .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-alert.portlet-msg-progress .alert-icon, .alert-notice.alert-info.portlet-msg-error .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-error.portlet-msg-progress .alert-icon, .alert-notice.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-progress .alert-icon, .alert-notice.alert-info.portlet-msg-success .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-success.portlet-msg-progress .alert-icon {
    color: #95BFFF;
    background: rgba(149, 191, 255, 0.4);
}
.alert.alert-notice .alert-icon, .alert-notice.portlet-msg-alert .alert-icon, .alert-notice.portlet-msg-error .alert-icon, .alert-notice.portlet-msg-help .alert-icon, .alert-notice.portlet-msg-info .alert-icon, .alert-notice.portlet-msg-progress .alert-icon, .alert-notice.portlet-msg-success .alert-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 5px 8px;
    border-radius: 6px 0px 0px 6px;
}
.alert.alert-notice .alert-body, .alert-notice.portlet-msg-alert .alert-body, .alert-notice.portlet-msg-error .alert-body, .alert-notice.portlet-msg-help .alert-body, .alert-notice.portlet-msg-info .alert-body, .alert-notice.portlet-msg-progress .alert-body, .alert-notice.portlet-msg-success .alert-body {
    flex: 1 1 auto;
    padding: 15px 18px;
    padding-right: 22px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
* {
    scrollbar-color: #2164BE #F8F8F8;
    scrollbar-width: thin;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
таблица стилей агента пользователя
div {
    display: block;
}
.alert.alert-notice, .alert-notice.portlet-msg-alert, .alert-notice.portlet-msg-error, .alert-notice.portlet-msg-help, .alert-notice.portlet-msg-info, .alert-notice.portlet-msg-progress, .alert-notice.portlet-msg-success {
    min-height: 75px;
    font-size: 12px;
    font-weight: bold;
    color: #656565;
    background-color: #fff;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 5px rgb(0 0 0 / 10%);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    transition: opacity, transform .3s ease-in-out;
    display: flex;
}
.alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    font-family: "SF UI Display", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.alert, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress, .portlet-msg-success {
    position: relative;
    font-family: "SF UI Display", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
}
.alert-info, .portlet-msg-help, .portlet-msg-info, .portlet-msg-progress {
    background-color: #EBF3FE;
    border-color: #EBF3FE;
    color: #2F80ED;
}
.alert.alert-notice .alert-icon .svg-icon, .alert-notice.portlet-msg-alert .alert-icon .svg-icon, .alert-notice.portlet-msg-error .alert-icon .svg-icon, .alert-notice.portlet-msg-help .alert-icon .svg-icon, .alert-notice.portlet-msg-info .alert-icon .svg-icon, .alert-notice.portlet-msg-progress .alert-icon .svg-icon, .alert-notice.portlet-msg-success .alert-icon .svg-icon {
    width: 24px;
    height: 24px;
}
svg:not(:root) {
    overflow: hidden;
}

.svg-icon {
    display: inline-block;
    fill: currentColor;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.alert.alert-notice .close, .alert-notice.portlet-msg-alert .close, .alert-notice.portlet-msg-error .close, .alert-notice.portlet-msg-help .close, .alert-notice.portlet-msg-info .close, .alert-notice.portlet-msg-progress .close, .alert-notice.portlet-msg-success .close {
    text-shadow: none;
    color: #2F80ED;
    transition: all .3s ease-in-out;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
}
.alert-dismissable .close .lexicon-icon, .alert-dismissible .close .lexicon-icon {
    width: 27px;
    height: 27px;
    line-height: 27px;
}
.alert-dismissable .close .lexicon-icon, .alert-dismissable .close .svg-icon, .alert-dismissible .close .lexicon-icon, .alert-dismissible .close .svg-icon {
    width: 28px;
    height: 28px;
    line-height: 28px;
    transform: none;
}
.icon-monospaced.lexicon-icon {
    padding: 8px;
}
svg:not(:root) {
    overflow: hidden;
}
a .icon-monospaced, .icon-monospaced {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
}
.lexicon-icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    transform: translateZ(0);
    vertical-align: middle;
    width: 16px;
}