:root {
    --color-bg: #eeedeb;
    --color-title: #0e1c4e;
    --color-summary-1: #fff6ee;
    --color-summary-1-highlight: #FBE62B;
    --color-summary-2: #fafaff;
    --color-summary-2-highlight: #2F80ED;
    --color-summary-3: #fff0f3;
    --color-summary-3-highlight: #D10000;
}

.card h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-title);
}

.fv-accord-title {
    cursor: pointer;
}

.card details {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
    border-left: 15px solid gray;
    padding: 15px;
    margin: 0;
}

.card details.warning {
    --highlight: var(--color-summary-1-highlight);
    background: var(--color-summary-1);
    border-left-color: var(--color-summary-1-highlight);
}

.card details.warning p {
    list-style-type: corona-warning;
}

.card details.info {
    --highlight: var(--color-summary-2-highlight);
    background: var(--color-summary-2);
    border-left-color: var(--color-summary-2-highlight);
}

.card details.info p {
    list-style-type: corona-info;
}

.card details.alert {
    --highlight: var(--color-summary-3-highlight);
    background: var(--color-summary-3);
    border-left-color: var(--highlight);
}

.card details.alert p {
    list-style-type: corona-alert;
}

.card details summary,
.card details p {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-title);
    padding: 20px;
}

.card details[open] summary {
    font-weight: 700;
}
