.f-tabs.horizontal {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
}

.f-tabs.vertical {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 16px;
    padding-right: 16px;
    width: max-content;
}

.f-tabs-btn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    max-width: 360px;
    min-width: 90px;
    position: relative;
    min-height: 48px;
    flex-shrink: 0;
    padding: 12px 16px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
}

.f-tabs-btn.active {
    color: #2F80ED;
    border-bottom: solid 2px #2F80ED;
}

.f-tabs-btn:disabled {
    color: rgb(196, 196, 196);
}
