.f-form-native {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.f-native-label {
    padding-left: 11px;
}

.f-form-native .f-native {
    min-width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    appearance: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    box-sizing: content-box;
    background: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 100%;
    animation-name: fui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 5.5px 14px;
}

.f-form-native .f-native:hover {
    border-color: #2f80ed;
}
.f-form-native .f-native:focus-visible {
    outline: 0;
}

.f-form-native .f-native option:active {
    background-color: red;
}