.f-checkbox label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #656565;
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}

.f-checkbox label input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #fff;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid #C4C4C4;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}

.f-checkbox label input[type=checkbox]::before {
    content: "";
    width: 10px;
    height: 10px;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background-color: #fff;
}

.f-checkbox label input[type=checkbox]:checked::before {
    transform: scale(1);
}

.f-checkbox label input[type=checkbox]:checked {
    transform: scale(1);
    border: 1px solid #2F80ED;
    background-color: #2F80ED;
    color: #fff;
}

.f-checkbox label input[type=checkbox]:focus {
    outline: none !important;
}

.f-checkbox label input[type=checkbox]:disabled {
    cursor: not-allowed;
}
